Redirect 301 /rozvrh http://www.sokolsestajovice.cz/oddily/
Redirect 301 /clanky http://www.sokolsestajovice.cz/archiv/
Redirect 301 /akce---fotografie http://www.sokolsestajovice.cz/archiv/
Redirect 301 /novinky http://www.sokolsestajovice.cz/
Redirect 301 /kalendar-akci http://www.sokolsestajovice.cz/
Redirect 301 /akce http://www.sokolsestajovice.cz/
Redirect 301 /napiste-nam http://www.sokolsestajovice.cz/index.html#f
Redirect 301 /t_j-sokol-sestajovice-reprezentuje http://www.sokolsestajovice.cz/archiv/