	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<section>
					<h2>Napište nám</h2>
					<form id="f">
						<div class="field half first">
							<input type="text" name="name" id="name" placeholder="Jméno" />
							<input id="nazev" type="hidden" value="{{ page.title }}">
						</div>
						<div class="field half">
							<input type="email" name="email" id="email" placeholder="E-mail" />
						</div>
						<div class="field">
							<textarea name="message" id="message" placeholder="Zpráva"></textarea>
						</div>
						<ul class="actions">
							<li><input id="btn" type="submit" value="Odeslat" class="special" /></li>
						</ul>
					</form>
				</section>
				<section>
					<h2>Sledujte nás</h2>
					<ul class="icons">
						<li><a href="https://www.facebook.com/tjsokolsestajovice" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="http://eepurl.com/bV_U3f" class="icon style2 fa-envelope-o"><span class="label">E-mail</span></a></li>
					</ul>
					<h2>Sponzorováno</h2>
					<a href="http://www.banan.cz"><img src="{{ site.github.url }}/images/banan.jpg"></a>
				</section>
				<ul class="copyright">
					<li>&copy; Sokol Šestajovice. </li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>
</div>
<!-- Scripts -->
<script src="{{ site.github.url }}/assets/js/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/skel.min.js"></script>
<script src="{{ site.github.url }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.github.url }}/assets/js/main.js"></script>
</body>
</html>

<script type="text/javascript">
$(document).ready(function() {
  $('#message').keydown(function (e) {  
    if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
      $('form[id=f]').submit();
    }
  });
    $('form[id=f]').submit(function(e) {
        e.preventDefault();
        var name = $('#name').val();
        var email = $('#email').val();
        var message = $('#message').val();
        var title = $('#nazev').val();
        var postData = '{"text": "' + name + ' (' + email + ') z ' + title + ': ' + message + '"}';
        var btn = $('#btn');
        $.ajax({
            type: 'POST',
            cache: false,
            url: 'https://zapier.com/hooks/catch/2zuwhk/',
            data: postData,
            success: function() {window.location.href = "";}
        });
        btn.val("Odesláno");
    });
});
</script>