<!-- Menu -->
	<nav id="menu">
		<h2>Menu</h2>
		<ul>
			<li><a href="{{ relative }}/">Domů</a></li>
			<!--<li><a href="{{ relative }}/clenstvi/">Členství</a></li>-->
			<li><a href="{{ relative }}/2016/09/15/nabor.html">Nábor</a></li>
			<li><a href="{{ relative }}/oddily/">Oddíly</a></li>
			<li><a href="http://sokolsestajovice.rajce.idnes.cz">Fotogalerie</a></li>
			<li><a href="{{ relative }}/o-sokole/">O Sokole</a></li>
			<li><a href="{{ relative }}/kontakt/">Kontakt</a></li>
		</ul>
	</nav>